/* .card-content {
  border: solid black 2px;
  padding: 4px;
  margin: 4px;
  display: flex;
  flex-direction: column;
}

.imgcontainer {
  border: solid black 2px;
  padding: 4px;
}

.dogimg {
  max-height: 100px;
  max-width: auto;
} */
