.homeIMG {
  background-image: url("https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fwww.bdaarc.com%2Fimages%2Fuploads%2Fgalleryphotos%2Fh08-Animal-Shelter-Design.jpg&f=1&nofb=1");
  height: 724px;
  width: 1200px;
  box-shadow: 5px 10px 20px;
}
