.parkCard {
  display: flex;
  flex-wrap: wrap;
  margin: 4px;
  padding: 4px;
}

.parkCard-content {
  display: flex;
  flex-direction: column;
  flex-basis: 30%;
}

.parkImage {
  max-height: 40px;
  width: auto;
}
